* {
    box-sizing: border-box;
    //font-family: 'Roboto', sans-serif;
    font-family: Arial, sans-serif;

}

body {
	background-color: #333;
	padding: 0;
	margin: 0;
	height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

.hero {
	position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;    
}

.hero img {
	width: 100vw;
    height: 100vh;
}

.overlay{
	background: rgba(92,66,61,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: background-color 2s; 
    -moz-transition: background-color 2s; 
    transition: background-color 2s;
}

header {
	position: relative;
	z-index: 2;
	background-color: #404040;
	color: #fff;
	width: 100%;
	font-size: 14px;
	padding: 15px 20px;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4);
}

#city_div {
	flex: 2 0 0;
	-webkit-flex: 2 0 0;
}

#cities {
	width: 70%;
	margin-left: 5px;
    padding: 5px 10px;
    border: 0;    
}

.radio {
	display: none;
}
.radio ~ label {
	display: inline-block;
	position: relative;
    margin-right: 5px;
    padding-left: 24px;
    cursor: pointer;
}
.radio ~ label:before {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 3px;
    top: 50%;
    margin-top: -8px;
    border: 1px solid #fff;
    border-radius: 8px;
}
.radio ~ label:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 8px;
    margin-top: 0;
    background: #fff;
    border-radius: 4px;
    transition: .2s ease-in-out;
}
.radio:checked + label:after {
    height: 8px;
    width: 8px;
    margin-top: -4px;
    left: 7px;
}

.content {
	position: relative;
	color: #fff;	
	width: 100%;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: column;
    flex-direction: column;
    padding: 40px 20px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#units {
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: row;
    flex-direction: row;
     -webkit-align-items: center;
   	align-items: center;
}

#units:hover {
	cursor: pointer;
}

#units div {
	
}

#units ul {
	margin: 0;
}

#units ul li{
	float: left;
	margin-left: 10px;
}

.current_data {
	justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

#current_condition img {
	height: 24px;
    float: left;
    margin-right: 5px;
}

#current_time {
	font-size: 24px;
    margin-bottom: 1em;
}

#current_temp span:first-child{
	font-size: 80px;
}

#current_temp span:last-child{
	float: right;
    font-size: 40px;
}

#current_temp_range {
	margin-bottom: 2em;
}

#current_temp_range li, #sun_key_time li{
	float: left;
	padding: 5px 10px;
	border-right: 1px solid #eee;
}

#current_temp_range li:first-child, #sun_key_time li:first-child{
	padding-left: 0;
}

#current_temp_range li:last-child, #sun_key_time li:last-child{
	border-right: 0;
}

.future_data {
	color: #333;
	margin-top: 20px
}

.future_data ul {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4);

}

.future_data ul li {
	width: 100%;
	height: auto;
	
}

.future_data ul li.title {
	padding: 10px;
	font-weight: bold;
	text-align: center;
	background: rgba(255,255,255,0.7);
}

.future_data ul li ul {
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: row;
    flex-direction: row;
    border: 0;
    border-top: 1px solid #ddd;
    padding: 15px;
    background: rgba(255,255,255,0.7);	
}

.future_data ul li ul:hover {	
	background: rgba(255,255,255,0.8);	
}

.future_data ul li ul li:last-child {
	min-width: 135px;
}

.future_data ul li ul li img {
	height: 20px;
	float: left;
	margin-right: 10px;
}

.details {
	display: -webkit-flex;
   	display: flex;
  	-webkit-flex-direction: row;
   	flex-direction: row;
   	-webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
    padding: 10px;
    background: #5C423D;
    color: #fff;
}

.details ul{
	margin: 0;
}
.details ul li{
	float: left;
	margin-left: 15px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 12px;
	background-color: rgba(34, 34, 34,0.5);
    color: #777;
    padding: 0px 20px;
    display: -webkit-flex;
    display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.yahoo_attr {
	
}

@media only screen and (max-width: 720px) {

	ul {
		margin: 0;
	}

	#current_temp_range {
		margin-bottom: 20px;
	}


}

@media only screen and (max-width: 550px) {
	body {
		background-size: auto;
		font-size: 14px;
	}

	#cities {
		width: 150px;
	}

	#units {
		-webkit-flex-direction: column;
    	flex-direction: column;
    	justify-content: center;
    	-webkit-justify-content: center;
    	position: relative;
    	display: inline-block;
	}

	#units div{
		padding: 5px 15px;
    	border: 1px solid #ccc;

	}

	#units div:hover {
		background: #ccc;
		color: #666;
	}

	#units:hover ul {
		display: block;
	}

	#units div span {
		display: none;
	}

	#units ul{
		display: none;
		position: absolute;
	    right: 0;
	    width: 130px;
	    color: #333;	    
	    box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4);
	}

	#units ul li{
		float: none;
		padding: 10px;
		background: rgba(255,255,255,0.8);
    	border-top: 1px solid #fff;
    	display: block;
    	margin: 0;
	}

	#units ul li:hover{
		background: #DE5C43;
   	 	color: #fff;
    	border: 0;
	}

	.radio ~ label:before {
		border: 1px solid #333;
	}
	.radio ~ label:after {
		background-color: #333;
	}

	#units ul li:hover .radio ~ label:before {
		border: 1px solid #fff;
	}
	#units ul li:hover .radio ~ label:after {
		background-color: #fff;
	}

}

@media only screen and (max-width: 380px) {
	#city_div label span {
		display: none;
	}

	#city_div i {
		font-size: 18px;
    	margin-right: 10px;
	}

	#current_time {
    	font-size: 20px;
	}

	#current_temp span:last-child {
    	float: right;
    }

	#sun_key_time{
		font-size: 12px;
	}

	.future_data ul {
		font-size: 12px;
	}

	.future_data ul li ul li:last-child {
		min-width: auto;
	}

	.future_data ul li ul li img{
		display: none;
	}
}

@media only screen and (max-width: 290px) {
	
	#city_div i {
		display: none;
	}

	#units div i {
		display: none;
	}

	#current_time {
		font-size: 16px;
	}

	.content {
		padding: 35px 10px;
	}
}